h1 {
  color: red
}

.box {
  width: 100%;
  height: 200px;
  background: brown;
  margin: 20px;

}

.header-dark {
  background: gray;
  height: 50px;
}

.slider-smaller {
  width: 60%;
  margin: 40px auto;
}

.jumbotron {
  background: pink;
}
